<div class="header">
  <div class="header__title">
    NoMásSesgo
  </div>
  <div class="header__description">
    Ayudanos a reducir el sesgo de género de los contenidos de internet
  </div>

  <div class="header__input">
    <form >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput placeholder="Ingresa una URL de un articulo para identificar el sesgo" value="">
      </mat-form-field>
      
      <div class="header__input__button">
        <button mat-raised-button>Analizar</button>
      </div>

    </form>

    
  </div>

  <div class="header__button">
    <!-- <button mat-button (click)="openDialog('0ms', '0ms')" >O ingresa tu texto</button>     -->
    <button mat-button >O ingresa tu texto</button>    

  </div>
</div>

<div class="body">
  <div class="body__information">
    <div>
      <mat-card>
        <mat-card-title-group>
          <mat-card-title style="margin-bottom: 30px" >Sobre Sesgus</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          Es una solución de Inteligencia Artificial y Procesamiento de lenguaje Natural para mitigar el sesgo de género en el mundo digital, permitiendo a creadores de contenido y redactores la eficacia de mantener un lenguaje adecuado para un mundo con mayores posibilidades de diversidad e igualdad
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card>

        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <img src="../assets/images/logo_chrome.png" alt="">
          </div>
          <mat-card-title>Descarga nuestra extensión de Chrome totalmente gratis</mat-card-title>
          
        </mat-card-header>


      </mat-card>
    </div>
  </div>
  <div class="body__results">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title style="margin-bottom: 30px" >Resultados</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis facere eaque perspiciatis ex, totam aut cupiditate! Laudantium ipsam impedit quas quidem! Est tenetur neque ullam. Adipisci eligendi dolorem doloremque veniam!
      </mat-card-content>

    </mat-card>
  </div>
</div>
